<?xml version="1.0"?>
<launch>

  <arg name="team" />
  <arg name="block_delay" default="5" />

  <param name="team" value="$(arg team)" />

  <!-- BASIC ENVIRONMENT -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find meam520_labs)/worlds/final.world"/>
    <arg name="paused" value="false" />
  </include>

  <!-- MOVING TURNTABLE -->
  <include file="$(find meam520_labs)/launch/turntable.launch" ns="turntable" />

  <!-- SCORABLE OBJECTS -->
  <node pkg="meam520_labs" name="block_spawner" type="block_spawner.py" output="screen"
    launch-prefix="bash -c 'sleep $(arg block_delay); $0 $@' "/>/>

    <include file="$(find meam520_labs)/launch/single.launch">
      <arg name="load_gazebo" value="false" />
      <arg name="x" value="0"/>
      <arg name="y" value="-.978" if="$(eval arg('team') == 'red')"/>
      <arg name="y" value=".978" if="$(eval arg('team') == 'blue')"/>
      <arg name="z" value="0"/>
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0"/>
    </include>

</launch>
